.div-pagina-inicial {
    position: fixed;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}

.div-pagina-sobre {
    position: fixed;
    inset: 0;
    width: fit-content;
    height: fit-content;
    margin: auto;
}