body, html, #root {
height: 100%;
margin: 0;
font-family: Arial, sans-serif;
}

.home-container {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
background-color: #010e52;
}

.home-background {
background-image: url('./assets/blue-bg-image.jpg');
background-size: cover;
background-position: center;
width: 80%;
height: 80%;
border-radius: 12px;
display: flex;
align-items: center;
justify-content: center;
box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}

.home-card {
background-color: rgba(255, 255, 255, 0.9);
border-radius: 10px;
padding: 30px 40px;
text-align: center;
max-width: 400px;
box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.home-title {
font-size: 28px;
color: #ba0001;
margin-bottom: 10px;
}

.home-subtitle {
font-size: 18px;
margin-bottom: 10px;
}

.home-text {
font-size: 15px;
color: #333;
}